<?xml version="1.0" encoding="UTF-8"?>

<!--
	    This file is part of the IPtell application.

    	(C) 2004-2006 BueroByte GbR.
    	(C) 2006-2007 TELCAT MULTICOM GmbH.
-->

<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd">

</beans>
