DBLogin
{
    com.tagish.auth.DBLogin	required
    debug=true
    dbDriver="sun.jdbc.odbc.JdbcOdbcDriver"
    dbURL="jdbc:odbc:DBLogin";
};

FileLogin
{	
    com.tagish.auth.FileLogin
	required	
	debug=true
	pwdFile="D:\\Works\\Takhini\\TagishAuth\\passwd";
};

KeelLogin
{
    de.iritgo.aktera.authentication.defaultauth.KeelLoginModule
    required
    debug=true
    password-seq="base64.hash,base64.encrypt";
};

Kerb5Login
{
    com.sun.security.auth.module.Krb5LoginModule
    required
    debug=true
    java.security.krb5.realm="YOUR.REALM"
    java.security.krb5.kdc="YOUR.KDC";
};

LDAPLogin
{
    com.sun.security.auth.module.JndiLoginModule
	required
	debug=true
	user.provider.url="ldap://s3/wrn/ou=People,o=Sun,c=US"
	group.provider.url="ldap://s3/wrn/ou=Groups,o=Sun,c=US";
};

NISLogin
{
    com.sun.security.auth.module.JndiLoginModule
    required
    debug=true
    user.provider.url="nis://s3/wrn/user"
    group.provider.url="nis://s3/wrn/system/group";
};

NTLogin
{
    com.tagish.auth.win32.NTSystemLogin
    required
    returnNames=true
    returnSIDs=false;
};

KeelActiveDirLogin
{
    de.iritgo.aktera.authentication.activedir.KeelLoginModule
    required
    debug=true
    password-seq="base64.hash,base64.encrypt";
};
